@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-base leading-relaxed tracking-normal font-normal text-main bg-white;
  }

  h1 {
    @apply font-medium text-main-d text-3xl md:text-4xl;
  }

  h2 {
    @apply relative pl-[20px] font-medium text-main-d text-lg md:text-xl bg-clip-text text-transparent inline-flex;
    background-image: linear-gradient(90deg, #3A7BD5 0%, #223D9D 100%);
    &:before {
      @apply absolute content-[''] min-w-[12px] min-h-[2px] left-0 top-1/2 rounded-full inline-block;
      background-image: linear-gradient(90deg, #3A7BD5 0%, #223D9D 100%);
    }
    //@apply font-medium text-main-d text-2xl md:text-3xl;
  }
  h3 {
    @apply font-medium text-main-d text-2xl md:text-3xl;
  }
  h4 {
    @apply font-medium text-main-d text-xl md:text-2xl;
  }
  h5 {
    @apply font-medium text-main-d text-lg md:text-xl;
  }
  h6 {
    @apply font-medium text-main-d text-sm md:text-base;
  }

  img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }

  figure img {
    @apply w-full max-w-full h-auto;
  }
}

@layer components {
  .main-container {
    @apply container px-4 md:px-8 mx-auto;
  }
  .grid-with-gap {
    @apply grid gap-8;
  }
}
