@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-base leading-normal tracking-normal font-normal text-main bg-light;
  }

  h1 {
    @apply font-medium text-main-d text-3xl md:text-4xl;
  }
  h2 {
    //@apply relative font-medium text-main-d text-base text-primary-d;
    @apply font-medium text-main-d text-2xl md:text-3xl;
  }
  h3 {
    @apply font-medium text-main-d text-2xl md:text-3xl;
  }
  h4 {
    @apply font-medium text-main-d text-lg md:text-xl;
  }
  h5 {
    @apply font-medium text-main-d text-base md:text-lg;
  }
  h6 {
    @apply font-medium text-main-d text-sm md:text-base;
  }

  img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }
}

@layer components {
  .main-container {
    @apply container px-4 md:px-6 lg:px-10 mx-auto;
  }
}
